
/* Timeline Container */
.timeline {
  background: linear-gradient(159deg, #03293F 12.28%, rgba(73, 160, 223, 0.67) 91.27%);
}

.custom-date{
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
}

.title{
  font-weight:bold; 
}