x/* .main{
    position: fixed;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    
} */

.main {
  /*background: linear-gradient(1deg, rgba(254, 201, 14, 0.26) 14.18%, rgba(252, 206, 46, 0.89) 44.3%, #FFB905 83.27%);*/
  /* background: linear-gradient(141deg, #4CA7CB 13.28%, rgba(223, 141, 165, 0.90) 90.75%); */
  background-color: #fff8b0;
}
.personCard {
  display: flex;

  /* border-radius: 10px; */
  /* background: #8C7580; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  /* display: inline-flex; */
  /* justify-content: space-around; */
}

.personCard img {
  width: 50%;
  margin: 0 0 0 auto;
}

/* .btn{
      padding:10px 30px 10px 30px; 
      margin-top: 10px;
      font-size: 20px;
  } */

.description {
  margin: auto;
  font-weight: 800;
  color: #00548a;
}

.description h2 {
  font-size: 30px;
}

/* .rolodexright{
      position: absolute;
      width:20%;
      height: 50%;
      left:930px;
  }
  
  .rolodexleft{
      position: absolute;
      width:20%;
      height: 50%;
      left:80px;
  }
   */

.searchBar {
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
  width: 300px;
}

.searchbtn {
  background-color: #fff;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  box-shadow: 0 9px #cacaca;
}

.searchbtn:hover {
  background-color: #fecc1b;
}

.searchbtn:active {
  background-color: #fecc1b;
  box-shadow: 0 5px #dfdfdf;
  transform: translateY(4px);
}
