.homemain{
    background:linear-gradient(90deg, #47A3BB -5.98%, #EEF023 99.54%);
}

.title1{
    color: #fff;
    font-weight: 600;
    font-size: 5rem;
}

/* .rolodex{
    background-color: #47A3BB;
   
}

.record{
    background-color: #FFF57E;
   
} */
