.homemain {
  /* background: linear-gradient(0deg, #fdd661 -5.98%, #adb4f5 99.54%); */
   background: linear-gradient(159deg, #47A3BB 12.28%, #FFF57E 91.27%);
}

.title1 {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
}

.title2 {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}

.home-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  
  
}

.home-btn {
  border: 2px solid #160437;
  padding: 15px 30px;
  color: #160437;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #ffd28e;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: "Roboto Slab", serif;
}


.home-btn:hover {
  transform: scale(1.1);
}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.typewriter2 h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.95s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.timScale {
  animation: timZoomInOut 3s ease infinite;
}

@keyframes timZoomInOut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
